<footer class="footer">
    <div class="left">
        <p class="fs-5">Condiciones de uso de la web</p>
        <p class="fs-5">Política de privacidad</p>
        <p class="fs-5">Política de cookies</p>
    </div>
    <div class="center"> 
        <p class= "fw-bolder fs-1 mainFoot">Jairo SA</p>
        <div class="redesfoot">
            <a href="https://www.facebook.com/konecta.col"><i class="fab fa-facebook-square facebook"></i></a>
            <a href="https://twitter.com/gkonecta"><i class="fab fa-twitter-square twitter"></i></a>
            <a href="https://www.linkedin.com/company/grupo-konecta/?originalSubdomain=es"><i class="fab fa-linkedin linkedin"></i></a>
            <a href="https://www.instagram.com/konectacolombia/?hl=es-la"><i class="fab fa-instagram instagram"></i></a>
            <a href="https://www.youtube.com/channel/UC-odui5cuj6kmxu7UXt5thw"><i class="fab fa-youtube youtube"></i></a>
        </div>
    </div>
    <div class="right">
        <p class="fs-5">Jairo SA</p>
        <p class="fs-5">Blog</p>
        <p class="fs-5">Contact</p>
    </div>
</footer>