<div class="info">
    <div class="px-5">
        <p><i class="fas fa-map-marker-alt px-1"></i>Medellin - (Antioquia)</p>
    </div>
    <div class="px-5">
        <p> <i class="fas fa-inbox px-1"></i> admin@jairosa.com</p>
    </div>
    <div class="px-5">
        <p></i><i class="fas fa-phone px-1"></i> 311-732-43-24</p>
    </div>
</div>

<header class="navigation">
    <div class="logo fw-bolder fs-1">
        <p>Jairo SA</p>
    </div>
        <nav class="navInfo p-auto">
            <div class="lista">
                <a id="firstA"  href="/registrarUsuario">Registrar Usuario</a>
                <a  id="fourtA" href="/">Usuarios activos</a>
                <a  id="fourtA" href="/cerrar-sesion">cerrar-sesion</a>
            </div>
        </nav>
</header>