.clasFrom{
    width: 800px;
    height: 800px;
}
.main{
    background-color: rgb(113, 143, 165);;
}
img{
    width: 180px;
    height: 180px;
    background-color: rgb(11, 119, 38);
    border-radius: 50%;
    box-shadow: 0 0 30% #999;
}

